mcp
mcp[server]
langchain
langgraph
pydantic
pydantic-settings
python-dotenv
fastapi
httpx
uvicorn[standard]
slowapi
pypdf
psycopg2
pytest
pytest-asyncio
pyngrok
PyJWT 
google-adk
pandas
matplotlib
numpy
scikit-learn
fastapi-mail
tiktoken
# ---------------security----------
pyOTP
two-fast-auth
qrcode
#----------------database---------------
supabase
sqlalchemy 
redis
pymongo
#----------------AI---------------
cohere
mastral
openai
anthropic #using claude for this.
